In [1]:
import pandas as pd
from ast import literal_eval
import numpy as np

In [10]:
DF = pd.read_csv("FullDF_without_GPS.csv")
DF.date

0                 2013-01-03
1                 2013-01-03
2                 2013-01-03
3                 2013-01-03
4                 2013-01-03
5                 2013-01-03
6                 2013-01-03
7                 2013-01-04
8                 2013-01-04
9                 2013-01-04
10                2013-01-04
11                2013-01-04
12                2013-01-04
13                2013-01-04
14                2013-01-04
15                2013-01-04
16                2013-01-04
17                2013-01-04
18                2013-01-04
19                2013-01-04
20                2013-01-04
21                2013-01-05
22                2013-01-05
23                2013-01-05
24                2013-01-05
25                2013-01-05
26                2013-01-05
27                2013-01-05
28                2013-01-05
29                2013-01-05
                ...
42878      05 November 2016
42879        13 August 2016
42880      21 November 2014
42881         13 March 2008
42882      13 December 2014
42883      07 December 2014
42884         25 April 2010
42885      22 November 2009
42886     24 September 2009
42887       30 January 2009
42888         18 April 2008
42889       30 October 2015
42890       16 October 2015
42891         25 April 2015
42892         28 March 2015
42893         14 March 2015
42894       24 January 2015
42895      13 December 2014
42896      14 December 2014
42897      07 February 2015
42898      06 February 2015
42899       31 January 2015
42900       30 January 2015
42901       29 January 2015
42902      27 December 2014
42903      07 February 2015
42904      18 November 2014
42905       23 January 2015
42906       21 January 2015
42907       17 January 2015
Name: date, dtype: object

In [ ]:
def correctMalformedLineups(DF):
    i = 0
    for id, row in DF.iterrows():
        lineup = []
        try:
            lineup = literal_eval(row["artists"])
        except:
            #print("Malformed artists :"+str(row["artists"]))
            artists = str(row["artists"])
            artists = artists.replace("[","").replace("]","")
            artists_list = artists.split(",")
            i+=1
            new_lineup = []
            for a in artists_list:
                a = a.title()
                new_lineup.append(a.strip())
            DF.loc[id,"artists"] = str(new_lineup)

    print("Malformed : "+str(i))
    return DF

In [ ]:
DF = correctMalformedLineups(DF)

In [ ]:
correctMalformedLineups(DF)